@using Htmx.Components.Table.Models
@model TableModel

<tbody id="table-body">
@foreach (var item in Model.Data)
{
    <tr>
        @foreach (var column in Model.Columns.Where(c => !c.IsHidden))
        {
            <td>
                @if (!string.IsNullOrEmpty(column.CellPartialView))
                {
                    var cellModel = new TableCellPartialModel { Row = item, Column = column };
                    @await Html.PartialAsync(column.CellPartialView, cellModel)
                }
                else
                {
                    @(column.GetValue(item))
                }
            </td>
        }
    </tr>
}
</tbody>
