@using Htmx.Components.Table.Models
@model (ITableModel table, ITableRowContext row)

<tr id="@Model.row.RowId" class="@(Model.row.IsEditing ? "editing-row" : "")">
  @foreach (var column in Model.table.Columns.Where(c => c.ColumnType != ColumnType.Hidden))
  {
    var cellPartialView = string.IsNullOrEmpty(column.CellPartialView) 
      ? Model.table.TableViewPaths.Cell
      : column.CellPartialView;
    var cellModel = new TableCellPartialModel { Table = Model.table, Row = Model.row, Column = column };
    <td>
      @await Html.PartialAsync(cellPartialView, cellModel)
    </td>
  }
</tr>
