@using Htmx.Components.Table.Models
@model ITableModel

@{
    var isEditing = Model.Rows.Any(r => r.RowAction == RowAction.Edit || (r.RowAction == RowAction.Insert && r.Key == "new"));
}

<div id="table-edit-class-toggle" class="@(isEditing ? "editing-mode" : "")"></div>