@using Htmx.Components.Models.Table
@using System.Text.Encodings.Web

@model TableCellPartialModel

@foreach (var action in Model.Column.GetActions(Model.Row))
{
    <button
        class="btn btn-sm @action.CssClass"
        @foreach (var attr in action.Attributes)
        {
            var encodedValue = HtmlEncoder.Default.Encode(attr.Value);
            @Html.Raw($"{attr.Key}=\"{encodedValue}\"")
        }>
        @if (!string.IsNullOrWhiteSpace(action.Icon))
        {
            <i class="@action.Icon"></i>
        }
        @action.Label
    </button>
}