@using Htmx.Components.Table.Models
@model ITableModel

<tbody id="table-body">
    @* row_new is a placeholder for creating new records *@
   <tr id="row_new" class="hidden"> 
        <td colspan="100%"></td>
    </tr>
    @foreach (var rowContext in Model.Rows)
    {
        // individual rows are split out into separate view in order to support single-row editing  
        @await Html.PartialAsync(Model.TableViewPaths.Row, (Model, rowContext))
    }
</tbody>
