<div class="flex space-x-1">
    <input type="date"
           class="input input-bordered input-sm w-1/2"
           id="table-filter-@Model.Header-min"
           name="rangeFilters[@Model.Header].Min"
           placeholder="From"
           hx-get="@Url.Action("ReloadTable")"
           hx-swap="none"
           hx-trigger="input changed delay:500ms"
           hx-include="[name^='filters'], [name='pageSize'], [name^='sort']" />
    
    <input type="date"
           class="input input-bordered input-sm w-1/2"
           id="table-filter-@Model.Header-max"
           name="rangeFilters[@Model.Header].Max"
           placeholder="To"
           hx-get="@Url.Action("ReloadTable")"
           hx-swap="none"
           hx-trigger="input changed delay:500ms"
           hx-include="[name^='filters'], [name='pageSize'], [name^='sort']" />
</div>