@using Htmx.Components.Table.Models
@model ITableModel

<div id="table-container" class="relative">
    @await Html.PartialAsync(Model.TableViewPaths.EditClassToggle, Model)
    <form>
    @await Html.PartialAsync(Model.TableViewPaths.HiddenValues, Model)
    @await Html.PartialAsync(Model.TableViewPaths.TableActionList, Model)
    <table class="table w-full">
        <thead>
            @await Html.PartialAsync(Model.TableViewPaths.Header, Model)
            <tr id="table-filter-row">
                @foreach (var column in Model.Columns.Where(c => c.ColumnType != ColumnType.Hidden))
                {
                    <th>
                        @if (column.Filterable)
                        {
                            @if (!string.IsNullOrEmpty(column.FilterPartialView))
                            {
                                @await Html.PartialAsync(column.FilterPartialView, column)
                            }
                            else
                            {
                                @await Html.PartialAsync(Model.TableViewPaths.FilterText, column)
                            }
                        }
                    </th>
                }
            </tr>
        </thead>
        @await Html.PartialAsync(Model.TableViewPaths.Body, Model)
    </table>

    @await Html.PartialAsync(Model.TableViewPaths.Pagination, Model)
    </form>
 </div>
