@using Htmx.Components.Table.Models
@model ITableModel


<div id="table-hidden-values">
  @{
    var editRow = Model.Rows.Where(r => r.IsEditing).SingleOrDefault();
    if (editRow != null)
    {
      // We want to have hidden inputs for every column that doesn't have an editable input.
      // TODO: Automate creation of "shadow" ValueSelector columns that get replaced 
      // as they're explicitly configured in order to guarantee all properties get passed
      // with row data.
      foreach (var column in Model.Columns.Where(c => 
        c.ColumnType == ColumnType.Hidden || (c.ColumnType == ColumnType.ValueSelector && !c.IsEditable)))
      {
        <input type="hidden" name="row.Item.@column.Header" value="@column.GetSerializedValue(editRow)" />
      }
    }
  }
</div>
