@using Htmx.Components.Models.Table
@model ITableModel

<div id="main-content" class="flex flex-col flex-1 min-h-0">
  <h2 class="text-2xl font-bold">Package Versions</h2>
  <p class="text-gray-600">Report to help identify packages in need of upgrading</p>
  @await Component.InvokeAsync("Table", Model)
</div>